force-app/main/default/flows/Verify_Phone_Number_ALF.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Veriphone_Service_Callout</name>
        <label>Veriphone Service Callout</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>VeriphoneAPIService.VerifyPhone</actionName>
        <actionType>externalService</actionType>
        <connector>
            <targetReference>Transform_Callout_Response</targetReference>
        </connector>
        <flowTransactionModel>Automatic</flowTransactionModel>
        <inputParameters>
            <name>key</name>
            <value>
                <elementReference>$Label.VeriphoneAPIKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>phone</name>
            <value>
                <elementReference>phoneNumber</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>default_country</name>
            <value>
                <elementReference>defaultCountry</elementReference>
            </value>
        </inputParameters>
        <nameSegment>VeriphoneAPIService.VerifyPhone</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <assignments>
        <name>Assign_Response</name>
        <label>Assign Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>CalloutResponse</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Transform_Callout_Response</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <environments>Default</environments>
    <interviewLabel>ALF Verify Phone Number {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Verify Phone Number | ALF</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Veriphone_Service_Callout</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <transforms>
        <name>Transform_Callout_Response</name>
        <label>Transform Callout Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <apexClass>VerifyPhoneOutputApexDefined</apexClass>
        <connector>
            <targetReference>Assign_Response</targetReference>
        </connector>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <scale>0</scale>
        <storeOutputAutomatically>true</storeOutputAutomatically>
        <transformValues>
            <transformValueActions>
                <outputFieldApiName>error.code</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.defaultExc.code</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>error.message</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.defaultExc.message</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>error.status</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.defaultExc.status</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>error.type</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.defaultExc.z0type</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.carrier</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.carrier</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.country</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.country</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.country_code</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.countryx5fcode</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.country_prefix</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.countryx5fprefix</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.e164</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.e164</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.international_number</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.internationalx5fnumber</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.local_number</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.localx5fnumber</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.phone</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.phone</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.phone_region</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.phonex5fregion</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.phone_type</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.phonex5ftype</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.phone_valid</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.phonex5fvalid</elementReference>
                </value>
            </transformValueActions>
            <transformValueActions>
                <outputFieldApiName>response.status</outputFieldApiName>
                <transformType>Map</transformType>
                <value>
                    <elementReference>Veriphone_Service_Callout.200.status</elementReference>
                </value>
            </transformValueActions>
        </transformValues>
    </transforms>
    <variables>
        <name>CalloutResponse</name>
        <apexClass>VerifyPhoneOutputApexDefined</apexClass>
        <dataType>Apex</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>defaultCountry</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>IN</stringValue>
        </value>
    </variables>
    <variables>
        <name>phoneNumber</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
